{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>{{room.name}} | Twilio Chat</title>
  <link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
  <link rel="stylesheet" href="{% static "chat/styles/room_detail.css" %}">
</head>

<body>
  <main>
    <div class="container">
      <div class="columns">
        <div class="column is-three-quarters">
          <section>
            <div id="messages"></div>
            <form id="message-form">
              <div class="field">
                <label class="label">Message</label>
                <div class="control">
                  <textarea class="textarea" id="message-input"placeholder="Your message here" rows="3" autofocus></textarea>
                </div>
              </div>
              <button type="submit" class="button">Send</button>
            </form>
          </section>
        </div>

        <div class="column sidebar">
          <div class="float-right">
            <h2 class="title">{{room.name}}</h2>
            <p class="subtitle">
              {{room.description}}
            </p>
          </div>
        </div>

      </div>
    </div>
  </main>

  <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
  <script src="https://media.twiliocdn.com/sdk/js/chat/v2.0/twilio-chat.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="{% static "chat/scripts/rooms.js" %}"></script>
</body>

</html>
