{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>{{room.name}} | Twilio Chat</title>
  <link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "chat/styles/room_detail.css" %}">
</head>

<body>
  <main data-page-name={{name}}>
    <div class="container">
      <div class="row">
        <div class="col-9">
          <section>
            <div id="messages"></div>
            <form id="message-form">
              <div class="form-group">
                <textarea class="form-control" id="message-input"placeholder="your message here" rows="3" autofocus></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Send</button>
            </form>
          </section>
        </div>

        <div class="col-3 sidebar">
          <div class="float-right">
            <h2>{{room.name}}</h2>
            <p>
              {{room.description}}
            </p>
          </div>
        </div>

      </div>
    </div>
  </main>

  <script src="https://media.twiliocdn.com/sdk/js/chat/v1.0/twilio-chat.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="{% static "chat/scripts/rooms.js" %}"></script>
</body>

</html>
